node_modules/
dist/
.env
*.db
**/uploads/avatars/*
**/uploads/files/*
**/uploads/recordings/*
!**/uploads/avatars/.gitkeep
!**/uploads/files/.gitkeep
!**/uploads/recordings/.gitkeep
.DS_Store
*.log
*.zip
backend/public/assets/
